@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@100;400&display=swap');

    *{
        padding:0;
        margin: 0;
    }
    :root{
        --corPrincipal: #800080;
        --corSecundaria: #f5f5f5;
        --corTerciaria: #d3bcf6;
        --corAnimacao: #6c3;   
    }
    h1{
        color: var(--corPrincipal);
        font-family: 'kalnia', Georgia;
        background-color: var(--corTerciaria);
    }
    .barraInicial{
        display: flex;
        flex-direction: row;
        background-color: var(--corTerciaria);
        padding: 10px 30px;
    }
    .logotipo{
        flex-grow: 1;
        display: flex;
        align-items: center;
        background-color: var(--corTerciaria);
    }
    .menu{
        flex-grow: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        background-color: var(--corTerciaria);
        font-family: Georgia, 'Times New Roman', helvetica;
    }
    .icones {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--corTerciaria);
    }
    /* separações */

    a{
        margin: 0 2vw 0 2vw;
        text-decoration: none;
        background-color: var(--corTerciaria);
    }

    i{
        margin: 0 1vw 0 1vw;
        font-size: larger;
        color: var(--corPrincipal);
        background-color: var(--corTerciaria);
    }
        /* cor quando o link não foi clicado*/
    a:link {
        color: var(--corPrincipal);
        background-color: var(--corTerciaria);
    }

    /* cor quando o link foi clicado*/

    a:visited {
        color: var(--corAnimacao)
    }

    /* cor quando o link não foi clicado*/

    a:hover{
        text-decoration: line-through;
    }
